@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Product>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["NoProductsMessage"] != null)
{
    <script>
        alert('@TempData["NoProductsMessage"]');
    </script>
}

<style>
    .pagination-container {
        display: flex;
        justify-content: center;
    }

    .pagination {
        display: flex;
        list-style: none;
        padding-left: 0;
    }

        .pagination li {
            margin-right: 5px;
        }

            .pagination li.active a {
                background-color: #007bff;
                color: #fff;
                border-color: #007bff;
            }

            .pagination li a {
                color: #007bff;
                border: 1px solid #007bff;
                padding: 5px 10px;
                text-decoration: none;
                border-radius: 5px;
            }

                .pagination li a:hover {
                    background-color: #f0f0f0;
                }
</style>

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">@Localizer["ShopTitle"]</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
        <li class="breadcrumb-item active text-white">@Localizer["ShopTitle"]</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form asp-controller="Product" asp-action="Index" method="get">
                            <div class="input-group">
                                <input type="search" name="keywords" class="form-control p-3" placeholder="Keywords" aria-describedby="search-icon-1">
                                <button type="submit" class="btn btn-primary">@Localizer["Filter"]</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">@Localizer["DefaultSorting"]:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="volvo">@Localizer["Nothing"]</option>
                                <option value="saab">@Localizer["Featured"]</option>
                                <option value="opel">@Localizer["Price"]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <br />
                                    <h4>@Localizer["Categories"]</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a asp-controller="Product" asp-action="Index" asp-route-category="Điện thoại">
                                                    <i class="fas fa-apple-alt me-2"></i>@Localizer["Phone"]
                                                </a>
                                            </div>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a asp-controller="Product" asp-action="Index" asp-route-category="Máy tính bảng">
                                                    <i class="fas fa-apple-alt me-2"></i>@Localizer["Tablets"]
                                                </a>
                                            </div><div class="d-flex justify-content-between fruite-name">
                                                <a asp-controller="Product" asp-action="Index" asp-route-category="Tai nghe">
                                                    <i class="fas fa-apple-alt me-2"></i>@Localizer["Sounds"]
                                                </a>
                                            </div><div class="d-flex justify-content-between fruite-name">
                                                <a asp-controller="Product" asp-action="Index" asp-route-category="Phụ kiện">
                                                    <i class="fas fa-apple-alt me-2"></i>@Localizer["Accessories"]
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <form asp-controller="Product" asp-action="Index" method="get">
                                        <div class="form-group">
                                            <label for="priceRange">@Localizer["PriceRange"]:</label>
                                            <select class="form-control" id="priceRange" name="priceRange">
                                                <option value="0-500000">@Localizer["Below500K"]</option>
                                                <option value="5000000-1000000">@Localizer["Range500KTo1M"]</option>
                                                <option value="1000000-5000000">@Localizer["Range1MTo5M"]</option>
                                                <option value="5000000-10000000">@Localizer["Range5MTo10M"]</option>
                                                <option value="10000000-20000000">@Localizer["Range10MTo20M"]</option>
                                            </select>
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-primary">@Localizer["Filter"]</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="img/banners/banner-12.jpg" class="img-fluid w-100 rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    @await Html.PartialAsync("_ProductCard", item)
                                </div>
                            }

                            <div class="pagination-container">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = ViewBag.Category, keywords = ViewBag.Keywords, priceRange = ViewBag.PriceRange }), new PagedListRenderOptions
                                {
                                    UlElementClasses = new[] { "pagination" },
                                    LiElementClasses = new[] { "page-item" },
                                    PageClasses = new[] { "page-link" },
                                    ActiveLiElementClass = "active",
                                    PreviousElementClass = "prev",
                                    NextElementClass = "next",
                                    LinkToPreviousPageFormat = "<<",
                                    LinkToNextPageFormat = ">>",
                                    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                    DisplayLinkToLastPage = PagedListDisplayMode.Never
                                })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const priceRange = urlParams.get('priceRange');
        if (priceRange) {
            document.getElementById('priceRange').value = priceRange;
        }
    });
</script>
