@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5);">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">MiniTeach</h1>
                        <p class="text-secondary mb-0">@Localizer["ModernProducts"]</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="text" placeholder="@Localizer["YourEmail"]">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">@Localizer["Subscribe"]</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">@Localizer["Policies"]</h4>
                    <a class="btn-link" href="">@Localizer["WarrantyPolicy"]</a>
                    <a class="btn-link" href="">@Localizer["PaymentPolicy"]</a>
                    <a class="btn-link" href="">@Localizer["ShippingPolicy"]</a>
                    <a class="btn-link" href="">@Localizer["PrivacyPolicy"]</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">@Localizer["Information"]</h4>
                    <a class="btn-link" href="">@Localizer["Stores"]</a>
                    <a class="btn-link" href="">@Localizer["WarrantyCenter"]</a>
                    <a class="btn-link" href="">@Localizer["AddressSearch"]</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">@Localizer["SupportHotline"]</h4>
                    <a class="btn-link" href="">CSKH: 9999.9999 (nhánh 1)</a>
                    <a class="btn-link" href="">@Localizer["Warranty"]: 9999.9999 (nhánh 2)</a>
                    <a class="btn-link" href="">@Localizer["HTKT"]: 9999.9999 (nhánh 3)</a>
                    <a class="btn-link" href="">Email: cskh@aaaaaa.com</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">@Localizer["Contact"]</h4>
                    <p>@Localizer["Address"]</p>
                    <p>@Localizer["Email"]: ducnhanbui25032003@gmail.com</p>
                    <p>@Localizer["Phone"]: +84 36 5839 282</p>
                    <p>@Localizer["PaymentAccepted"]</p>
                    <img src="~/image/payment.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
