@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>@Localizer["Title"]</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- SweetAlert2 CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="~/css/style.css" rel="stylesheet">

    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar start -->
        @* <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">@Localizer["Address"]</a></small>
                    </div>
                    <div class="top-link pe-2">
                        <!-- Language Switcher -->
                        <div class="d-flex align-items-center">
                            <a href="?culture=vi-VN" class="btn btn-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 72 72"><path fill="#d22f27" d="M5 17h62v38H5z" /><path fill="#f1b31c" stroke="#f1b31c" stroke-linecap="round" stroke-linejoin="round" d="m28.89 47l7.303-22l6.295 21.663L25 33.61l22-.543z" /><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17h62v38H5z" /></svg>
                            </a>
                            <a href="?culture=en-US" class="btn btn-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 72 72"><path fill="#fff" d="M5 17h62v38H5z" /><path fill="#d22f27" d="M5 17h62v5H5zm0 9h62v4H5zm0 8h62v4H5z" /><path fill="#1e50a0" d="M5 17h32v21H5z" /><path fill="#d22f27" d="M5 42h62v4H5z" /><circle cx="9" cy="22" r="1.75" fill="#fff" /><circle cx="17" cy="22" r="1.75" fill="#fff" /><circle cx="25" cy="22" r="1.75" fill="#fff" /><circle cx="33" cy="22" r="1.75" fill="#fff" /><circle cx="29" cy="26" r="1.75" fill="#fff" /><circle cx="21" cy="26" r="1.75" fill="#fff" /><circle cx="13" cy="26" r="1.75" fill="#fff" /><circle cx="9" cy="30" r="1.75" fill="#fff" /><circle cx="17" cy="30" r="1.75" fill="#fff" /><circle cx="25" cy="30" r="1.75" fill="#fff" /><circle cx="33" cy="30" r="1.75" fill="#fff" /><circle cx="29" cy="34" r="1.75" fill="#fff" /><circle cx="21" cy="34" r="1.75" fill="#fff" /><circle cx="13" cy="34" r="1.75" fill="#fff" /><path fill="#d22f27" d="M5 50h62v5H5z" /><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17h62v38H5z" /></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><h1 class="text-primary display-6">MiniTech</h1></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link">@Localizer["Home"]</a>
                            <a asp-area="" asp-controller="Posts" asp-action="Index" class="nav-item nav-link">@Localizer["News"]</a>
                            <a asp-area="" asp-controller="Product" asp-action="Index" class="nav-item nav-link">@Localizer["Shop"]</a>
                            <a asp-area="" asp-controller="Contact" asp-action="Index" class="nav-item nav-link">@Localizer["Contact"]</a>
                            @if (User.IsInRole("Admin"))
                            {
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-item nav-link">@Localizer["AdminPage"]</a>
                            }
                        </div>
                        <div class="d-flex m-3 me-0">
                            <partial name="_LoginPartial" />
                            <a asp-area="" asp-controller="Cart" asp-action="Index" class="position-relative me-4 my-auto fs-4">
                                <i class="fa fa-shopping-bag"></i>
                            </a>
                            <a asp-area="" asp-controller="Wishlist" asp-action="Index" class="my-auto fs-4">
                                <i class=" fa fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div> *@
        @await Html.PartialAsync("_Navbar");
        <!-- Navbar End -->

        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@Localizer["SearchPlaceholder"]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->

        <!-- Container -->
        <div class="container" style="margin-top: 200px">
            @RenderBody()
        </div>
        <!-- End Container -->

        <!-- Footer Start -->
        @* <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <a href="#">
                                <h1 class="text-primary mb-0">MiniTeach</h1>
                                <p class="text-secondary mb-0">Modern products</p>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mx-auto">
                                <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                                <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="d-flex justify-content-end pt-3">
                                <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Chính sách</h4>
                            <a class="btn-link" href="">Chính sách bảo hành</a>
                            <a class="btn-link" href="">Chính sách thanh toán</a>
                            <a class="btn-link" href="">Chính sách giao hàng</a>
                            <a class="btn-link" href="">Chính sách bảo mật</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Thông tin</h4>
                            <a class="btn-link" href="">Hệ thống cửa hàng</a>
                            <a class="btn-link" href="">Trung tâm bảo hành</a>
                            <a class="btn-link" href="">Tra cứu địa chỉ bảo hành</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">TỔNG ĐÀI HỖ TRỢ</h4>
                            <a class="btn-link" href="">CSKH: 9999.9999 (nhánh 1)</a>
                            <a class="btn-link" href="">Bảo hành: 9999.9999 (nhánh 2)</a>
                            <a class="btn-link" href="">HTKT: 9999.9999 (nhánh 3)</a>
                            <a class="btn-link" href="">Email: cskh@aaaaaa.com</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Liên hệ</h4>
                            <p>Địa chỉ: Phân khu đào tạo E1, Khu Công Nghệ cao TP.HCM, Phường Hiệp Phú, TP. Thủ Đức, TP.HCM</p>
                            <p>Email: ducnhanbui25032003@gmail.com</p>
                            <p>Phone: +84 36 5839 282</p>
                            <p>Payment Accepted</p>
                            <img src="~/image/payment.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
        @await Html.PartialAsync("_Footer")
        <!-- Footer End -->

        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Bùi Đức Nhân</a>,Hutech.</span>
                    </div>
                    <div class="col-md-6 my-auto text-center text-md-end text-white">
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

        <!-- Chat Button -->
        <a href="javascript:void(0);" onclick="toggleChat()" class="btn btn-primary border-3 border-primary rounded-circle chat"><i class="fab fa-rocketchat"></i></a>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/waypoints/waypoints.min.js"></script>
        <script src="~/lib/lightbox/js/lightbox.min.js"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- SweetAlert2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Template Javascript -->
        <script src="~/js/main.js"></script>

        @await Html.PartialAsync("_ChatRealTime")
        @await Html.PartialAsync("ChatBot")
        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>