@model WebDoDienTu.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thông tin đơn hàng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Order</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <h4>Đơn hàng</h4>

                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OrderDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalPrice)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.TotalPrice.ToString("N0") VND
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Notes)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Notes)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Index">Trở về</a>
                </div>

            </div>
        </div>
    </div>
</main>
